
# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/
Makefile

# Build artifacts
build/
bin/
lib/
*.o
*.obj
*.so
*.a
*.dll
*.exe
*.out

# C++ editor/IDE/workspace settings
.vscode/
.idea/
*.code-workspace
*.vcxproj*
*.suo
*.user

# Cache and temp
.cache/
*.cache
*.log
*.swp
tags
.DS_Store

# Compilation database
compile_commands.json
